/* Stylesheet for index.htlm */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 20px;
    color: #000;
}

aside {
    font-style: italic;
    color: darkgoldenrod;
    margin-left: 40px;
    width: 80%;
}

section {
    width: 75%;
    padding: 15px 40px 20px 40px;
}

.table {
    text-align: center;
    padding: 0px;
}
footer {
    font-style: italic;
    text-align: center;
}

.weblink {
    color: cornflowerblue;
}

@media (min-width: 700px) {
    h1 {
        color: red;
        width: 80%;
    }
    .section1 {
        font-size: large;
    }
    .section2 {
        font-size: large;
    }
    aside {
        font-size: large;
    }
}

@media (min-width: 1000px) {
    body {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 15em 1fr;
        grid-template-rows: auto 1fr auto;
    }
    h1 {
        color: blue;
        grid-column: span 2;
    }
    .section1 {
        font-size: larger;
    }
    .section2 {
        font-size: larger;
    }
    aside {
        font-size: larger;
    }
}